<!-- background overlay -->
<div 
  class="modal-backdrop fade"
  aria-hidden="true"
  ng-class="{'in': show}"
  ng-click="close(false)"
></div>

<!-- modal dialog -->
<div 
  class="modal fade {{class}}"
  ng-class="{'show': show, 'in': show}"
>
  <div class="modal-dialog alert alert-danger" id="modal-dialog" role="dialog"><span ng-bind-html="message"></span>
    <div class="text-sm-right">
      <button type="button" ng-click="close(false)" class="btn btn-default">OK</button>
    </div>
  </div>
</div>