.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url('/local/tlcore/pix/loading.svg');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: auto;
  z-index: 255;
}